@import "tailwindcss";

/* Font Primeform Pro Demo */
@font-face {
  font-family: "Primeform Pro Demo";
  src: url("/fonts/PrimeformProDemo/PrimeformProDemo-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Primeform Pro Demo";
  src: url("/fonts/PrimeformProDemo/PrimeformProDemo-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Font Storybook */
@font-face {
  font-family: "Storybook";
  src: url("/fonts/storybook/Storybook.TTF") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primeform: "Primeform Pro Demo", var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Primeform Pro Demo", sans-serif;
}

/* Custom CSS classes for font weights */
.font-primeform-regular {
  font-family: "Primeform Pro Demo", sans-serif;
  font-weight: 400;
}

.font-primeform-bold {
  font-family: "Primeform Pro Demo", sans-serif;
  font-weight: 700;
}

.font-storybook {
  font-family: "Storybook", sans-serif;
}
